<md-toolbar class="md-primary" md-elevation="1">
  <h2 class="md-title" style="flex: 1">KP WS17/18 - Two-way databinding in MVC</h2>
  <router-link tag="md-button" v-for="link in links" :key="link.name" :to="link.path">
    {{link.name}}
  </router-link>


  <md-menu md-align-trigger>
    <md-button md-menu-trigger>Assignments</md-button>

    <md-menu-content>
      <md-menu-item v-for="assignmentLink in assignmentLinks" :key="assignmentLink.name" @click.native="$router.push(assignmentLink.path)">
        {{assignmentLink.name}}
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</md-toolbar>
