@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);

.md-layout h1 {
  text-align: center;
}

code.hljs {
  font-family: "Fira Code", Hasklig, monospace;
  font-feature-settings: "calt" 1;
  font-variant-ligatures: contextual;
}
