.form-container {
  min-height: 520px;
}

md-card.actor-card {
  width: 320px;
  margin: 4px;
  display: inline-block;
  vertical-align: top;
}

div.assignment-part2-solution-container {
  margin: 20px;
}
