img {
    margin: auto;
    display: block;
}

.marked table {
    width:  100%;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.marked caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.marked td,
.marked th {
    border-left: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}

/* Consider removing this next declaration block, as it causes problems when
there's a rowspan on the first cell. Case added to the tests. issue#432 */
.marked td:first-child,
.marked th:first-child {
    border-left-width: 0;
}

.marked tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

.marked thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}
