{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://icndb.kns-it.de/api/v1"
    }
  ],
  "info": {
    "version": "1.0",
    "title": "Jericho ICNDB"
  },
  "paths": {
    "/jokes": {
      "get": {
        "tags": [
          "jokes"
        ],
        "summary": "Get a list of jokes",
        "operationId": "getJokes",
        "parameters": [
          {
            "in": "query",
            "name": "page_index",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "in": "query",
            "name": "page_size",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JokesArray"
                }
              }
            }
          }
        }
      }
    },
    "/jokes/{jokeId}": {
      "get": {
        "tags": [
          "jokes"
        ],
        "summary": "Get a specific joke",
        "operationId": "getJoke",
        "parameters": [
          {
            "in": "path",
            "name": "jokeId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "default": {
            "description": "success"
          }
        }
      }
    },
    "/jokes/random": {
      "get": {
        "tags": [
          "jokes"
        ],
        "summary": "Get a random joke",
        "operationId": "getRandomJoke",
        "responses": {
          "default": {
            "description": "success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Joke"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Joke": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "joke": {
            "type": "string"
          },
          "category": {
            "type": "string"
          }
        }
      },
      "JokesArray": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "format": "int32"
          },
          "jokes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Joke"
            }
          }
        }
      }
    }
  }
}
